/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 20 de fev. de 2022, 16:15:59
    Author     : Marcos
*/


body {
    color: #333;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif
}
h1 {
    background-image: url(../img/sobre-background.jpg);
}
h2 {
    border-bottom: 2px solid #333;
}

figure {
    background-color: #F2EDED;
    border: 1px solid #ccc;
    text-align: center;
}
figcaption {
    font-style: italic;
}